

$color0:rgb(214, 214, 214);
$color1: #888 ;
$color2: #333;
$color3:#2196F3;
$color4:red;
$color5:red;
$color6:red;
$color7:red;
$color8:red;
$color9:red;
$color10:red;
$color11:red;

$margen:2em 2em 2em 2em;
$border: 2em 2em 2em 2em;