

$color0:rgb(214, 214, 214);
$color1: rgb(89, 89, 89);
$color2: #333;
$color3:#006ec9;
$color4:rgb(179, 4, 4);
$color5:red;
$color6:red;
$color7:red;
$color8:red;
$color9:red;
$color10:red;
$color11:red;

$margen:2em 2em 2em 2em;
$border: 2em 2em 2em 2em;