/* Estilos para botones en la pagina principal */
.boton {
  display: inline-block;
  height: 4.2em;
 // padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  color: $color0;
  cursor: pointer;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 12em;
}

/* Colores de los botones */
#rojo { background-color: #FF0000; }
#verde { background-color: #0f9e0f; }
#azul { background-color: #0000FF; }
#amarillo { background-color: rgb(138, 138, 0) }
#naranja { background-color: rgb(220, 95, 0) }
#morado { background-color: #800080; }
#rosa { background-color: #a4606b; }
#cyan { background-color: $color3; }
#gris { background-color: #494444; }
#marron { background-color: #A52A2A; }

/* Estilos al pasar el mouse por encima */
.boton:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Sombra al pasar el mouse */
}