@import "swicht/boton-swicht";
@import "botones/botones";


#link {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

#nuestra-comunidad {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
#boton-switch{
    width: 100%;
    text-align: right;
    margin: 0em 7% 0em 0em;
}