/*menu */
.navbar {
  z-index: 2;
  position: fixed;
  top: 0%;
  left: 4%;
  right: 4%;
  height: 60px;
  background: $color4;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  border-radius: 0em 0em 1em 1em;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}
.nav_items {
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40em;
  transform: translateX(-117%);
  transition: 0.3s ease all;
}

.nav_items a {
  text-align: center;
  
  margin: 1.2em 1.2em 1.2em 1.2em;
  font-size: 1.5em;
  color: $color0;
  position: relative;
  text-decoration: none;
}
.nav_toggle {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.nav_toggle span {
  width: 30px;
  height: 4px;
  background:$color0;
  margin-bottom: 5px;
  transform-origin: 5px 0px;
  transition: all 0.2s linear;
}
.close span {
  transform: rotate(45deg) translate(0px, 0px);
}
.close span:nth-child(2) {
  display: none;
}
.close span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px, 1px);
}
.open {
  transform: translateX(0) !important;
}
.nav_items {
  border-radius: 0em 0em 1em 1em;
  background: #000000e6;
}


/*telefono*/

/*tablet*/
@media screen and (min-width: 576px) and (max-width: 768px) {
    
}
/*portatil*/
@media screen and (min-width: 769px) and (max-width: 992px) {
    
}
/*escritorio*/
@media screen and (min-width: 993px) {
    

  .navbar {
    position: fixed;
    top: 0%;
    left: 17%;
    background: $color4;
    right: 17%;
    height: 4em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-radius: 0em 0em 1em 1em;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
 
  
  .nav_items {
  
  padding: 2em;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 0;
  transform: translateX(0%);
  transition: none;
  align-items: center;
  justify-content: center;
  background: none;
}

.nav_toggle {
  display: none;
 /* flex-direction: column;*/
 /*margin: 15px;*/
}
  .nav_items a {
    text-align: center;
    margin: 1.2em;
    font-size: 1em;
    color: $color0;
    position: relative;
    text-decoration: none;
    font-weight: bolder;
  }
  
  .nav_items a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: $color3;
    transition: all 0.5s;
  }
  
  .nav_items a:hover::before {
    width: 100% !important;
  }
  
}
  
 